<ion-menu [content]="content" side="left">
  <div class="menu-header">
    <img width="200px" src="assets/svg/loftsmart.svg" />
  </div>
  <ion-list no-lines>
    <button ion-item *ngFor="let p of pages" (click)="openPage(p)">
      <ion-icon name="{{ p.icon }}"></ion-icon> {{ p.title }}
    </button>
    <button *ngIf="!api.isLogged()" ion-item (click)="goToLogin()">
      <ion-icon name="md-log-in"></ion-icon> Login
    </button>
    <button *ngIf="api.isLogged()" ion-item (click)="askForLogout()">
      <ion-icon name="md-log-out"></ion-icon> Logout
    </button>
  </ion-list>
</ion-menu>

<ion-nav [root]="rootPage" #content></ion-nav>
